{% extends "base_generic.html" %}
{% load static %}
{% load template_filters %}
{% block sidebar %}
<span>
  <div style=" position:relative; margin-top: 26px; margin-bottom: 26px; ">
    <ul class="sidebar-nav">
      <a href="{% url 'sites' %}" type="button" class="btn btn-default" style="width: 110px; background-color: #fbfcfb; ">All sites</a>
    </ul>
    <ul class="sidebar-nav">
      <a href="{% url 'map' %}" type="button" class="btn btn-default" style="width: 110px; background-color: #fbfcfb; ">Sites map</a>
    </ul>
    <ul class="sidebar-nav">
      <a href="https://www.air-aware.com" type="button" class="btn btn-default" style="width: 110px; background-color: #fbfcfb; ">Air Aware</a>
    </ul>
  </div>
</span>
     <img src="{% static 'images/map.png' %}" style='margin-left: 2em; width: 70%; height: 70%' />
 <br>
    <br>
<div style="margin-left: 27px">
      <ui><h5>{{ date|date:"jS M P" }}</h5></ui>
      <ui><h5>Current max PM10:</h5></ui>
          <h5>{{ pm10_max }} ug/m3
          {% if pm10_max <= 49 %}
             <span style="color:green; float:right; margin-right:20px">Low</span>
          {% endif %}
          {% if pm10_max >= 50 and pm10_max <= 83 %}
             <span style="color:orange; float:right; margin-right:20px">Mod</span>
          {% endif %}
          {% if pm10_max >= 84 %}
             <span style="color:red; float:right; margin-right:20px">High</span></h5>
          {% endif %}
        {% for site in pm10_sites %}
      <h5><a href="{% url 'site_detail' site %}">{{ site_names|get_item:site }}</a></h5></ui>
        {% endfor %}
    <br>
      <ui><h5>Current max NO2:</h5></ui>
      <ui><h5>{{ no2_max }} ug/m3</h5></ui>
          {% if no2_max <= 199 %}
             <span style="color:green; float:right; margin-right:20px">Low</span>
          {% endif %}
          {% if no2_max >= 200 and no2_max <= 399 %}
             <span style="color:orange; float:right; margin-right:20px">Mod</span>
          {% endif %}
          {% if no2_max >= 400 %}
             <span style="color:red; float:right; margin-right:20px">High</span></h5>
          {% endif %}
        {% for site in no2_sites %}
      <ui><h5><a href="{% url 'site_detail' site %}">{{ site_names|get_item:site }}</a></h5></ui>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
 <div class="col-sm-5 ">
{% regroup object_list_lon by region as regions_list %}
<ul>
{% for region in regions_list %}
    <li style="list-style: none; margin-top:8px; margin-bottom: 6px;">{{ region.grouper }}
    <ul>
        {% for item in region.list %}
          <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
{% regroup object_list by region as regions_list %}
</ul>
<ul>
{% for region in regions_list %}
    <li>{{ region.grouper }}
    <ul>
        {% for item in region.list %}
          <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
</div>
 <div class="col-sm-5 ">
<ul>
{% regroup object_list2 by region as regions_list %}
{% for region in regions_list %}
    <li style="list-style: none; margin-top:8px; margin-bottom: 6px;">{{ region.grouper }}
    <ul>
        {% for item in region.list %}
          <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
 </div>
{% endblock %}