{% extends "base_generic.html" %}
{% block content %}

<h3  style="margin-left: 8.18em;">AURN Monitoring Site Charts</h3>

 <div class="col-sm-5 ">
{% regroup object_list by region as regions_list %}

<ul>
{% for region in regions_list %}
    <li>{{ region.grouper }}
    <ul>
        {% for item in region.list %}
          <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>


</div>
 <div class="col-sm-5 ">

<ul>
{% regroup object_list2 by region as regions_list %}
{% for region in regions_list %}
    <li>{{ region.grouper }}
    <ul>
        {% for item in region.list %}
          <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

 </div>
{% endblock %}